*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #EBEBEB;
}
nav{
    display: flex;
    align-items: start;
    justify-content: start;
    position: fixed;
    width: 180vh;
    height: 5%;
    margin: 1% 1% 1% 1%;
    background: transparent;
    
}
#Div_Img{
    width: 140vh;
    display: flex;
    align-items: start;
    
    
}
#Div_Img img{
    width: 3vw;
    margin-left: 7vh;
    
}
#Div_Itens{
display: flex;
align-items: center;
justify-content: space-evenly;
width: 30vw;
height: 0vh;
background-color: yellowgreen;
}
#Div_Itens p{
    margin-top: 7vh  ;
    color: #857F7F;
}
#Div_Itens img{
    width: 10%;
    margin: 10% 0% 0% 0% ;
}
#Div_Centralizar{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}
#Div_Form{
    width: 90%;
    height: 80%;
    background-color: #FFFF;
    border-radius: 5px;
    box-shadow: 1vh 1vh 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
}
#Img_U{
    width: 50%;
    height: 100%;
    
    
}
#Img_U img{
   width: 100%;
   height: 100%;
   border-radius: 5px;
}
#Div_Formulario{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}
#Div_Formluario form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#Div_Formulario p{
    font-size: 3vh;
    margin: 3% 0% 0% 18%;
}
#Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
}
#Logo h1{
    font-size: 3vh;
    margin-top: 5vh;
}

.Inputs{
    width: 85vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
Input{
    width: 60vh;
    height: 8vh;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: none;
    box-shadow: 0.5vh 0.5vh 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 3vh;
    color: #857F7F;
    padding-left: 2%;
    cursor: text;
    transition: 0.5ms;
    outline: 0;
}
input:focus{
    border: 1px solid #3771C8;
}
#Botao{
    width: 85vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    
}
#Botao button{
    width: 60vh;
    height: 8vh;
    background-color: #3771C8;
    border-radius: 5px;
    border: none;
    box-shadow: 0.5vh 0.5vh 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 3vh;
    color: #FFFF;
}
#Botao h2{
    font-size: 2vh;
    margin-top: 3vh;  
}
a{
   text-decoration: none;
   color: #857F7F;
}


