*{
    margin: 0;
    padding: 0;
    color: #ffff
    ;
}
#Container_Fundo{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(../assets/logo_UNIMAR\ 1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Container_Formulario{
    height: 70vh;
    width: 70vw;
    border-radius: 5px;
    background-color: #0c0e27c5;
    backdrop-filter: blur(10px)

}
#Container_Formulario img{
    margin: 2% 0% 2% 2%;
    height: 5vh;
    width: 10vw;
    
}
#Itens_Formulario{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: first baseline;
    justify-content: first baseline;
}
#Escrita_Formulario{
    height: 50%;
    width: 50%;
    margin: 0% 3% 50% 3%;
    
}
#Escrita_Formulario h1{
    font-size: 10vh;
    margin: 2% 0% 2% 0%;
}
#Escrita_Formulario h2{
    font-size: 2vh ;
    margin: 7% 1% 1% 0%;
}
#Escrita_Formulario button{
    height: 15%;
    width: 15%;
    background-color: #1E67F3;
    color: #ffff;
    border: none;
    border-radius: 5px;
    margin: 5% 0% 0% 0%;
}
#Formulario{
    height: 70%;
    width: 20%;
    margin: 0% 0% 10% 8%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#Formulario form{
    background-color: #ffffffd5;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#Formulario form input{
    height: 7%;
    width: 80%;
    border-radius: 5px;
    border: none;
}